@media screen and (max-width:992px) {
    .navbar-main{
        flex-direction: column;
        align-items: center;
    }
    .navbar-main>.navbar-child-2{
        margin-top:20px;
    }
    .banner-section{

    }

    
}
@media screen and (max-width:576px) {
    .nav-ham-menu{
        display: block;
    }
    .navbar-main>.navbar-child-2{
        display: none;
    }
    .banner-section{
        flex-direction: column;
    }
    .banner-section-card{
        width: 100%;
    }
    .features{
         flex-direction: column;
    }
    .extra-running{
        flex-direction: column;
    }
    @media (max-width: 768px) {
        .bmi-form-main {
            flex-direction: column;
        }
    
        .bmi-form {
            flex-direction: column;
            align-items: center;
        }
    
        .bmi-form table {
            margin-bottom: 20px;
        }
    
        .input-row {
            flex-direction: column;
        }
    
        input, select {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}
